<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!--font added-->

  <link rel="stylesheet" href="https://use.typekit.net/lai3hcf.css">
  <title>SOUTH HOLD CONSTRUCTION</title>

  <!--Template main css-->
  <link rel="stylesheet" href="./style.css">
<style>
  main {
    background-color: white;
  }

  .dropdown-item:hover{
    color:black;
    background-color:transparent;
  }
  .dropdown-item {
    color:black;
  }
  .navbar {
    margin-top:25px;
  }
  @media (320px <= width <= 991px ) {
    .offcanvas-body a {
      color:white;
    }
    .dropdown-item {
    color:white;
    }
  }

  .about p{
    color:#7F7F7F;
  }
  .about>img{
    height:40vh;
    object-fit:cover;
    align-items:center;
  }
  .image-container {
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .img-civil {
    width:40vh;
    height:40vh;
    object-fit:scale-down;
  }
  .container .lets-header {
    color:black;
  }
  .container .lets-button {
    background-color:white;
    border:1px solid black;
    color:black;
    font-size:1.5em;
    font-weight:light;
    padding:10px 20px 10px 20px;
    margin:20px 0px 20px 0px;
    transition:ease-in-out 0.3s;
  }
  .container .lets-button:hover {
    background-color:black;
    color:white;
  }
  @media (320px <= width <= 450px ) {
    .holder {
      padding:0px;
    }
    }
    </style>
    </head>

    <body>
      <main class="pt-5 pb-2">
        <!--nav bar-->
          <nav class="navbar navbar-expand-lg text-black navbar-white bg-white">
            <div class="container">
              <!--logo-->
              <a class="navbar-brand" href="#">Offcanvas navbar</a>
              <!--toggle button-->
              <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!--nav bar sidebar-->
              <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <!--side bar header-->
                <div class="offcanvas-header text-white border-bottom">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                  <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <!--side bar body-->
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item mx-2">
                      <a class="nav-link " aria-current="page" href="#">HOME</a>
                    </li>
                    <li class="nav-item mx-2">
                      <a class="nav-link" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item dropdown mx-2">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SERVICES
                      </a>
                      <ul class="dropdown-menu bg-transparent ">
                        <li class="dropdown-item" href="#">CIVIL WORKS</li>
                        <li class="dropdown-item" href="#">ELECTRICAL WORKS</li>
                        <li class="dropdown-item" href="#">PLUMBING WORKS</li>
                        <li class="dropdown-item" href="#">MECHANICAL WORKS</li>
                        <li class="dropdown-item" href="#">BUILDING DESIGN</li>
                        <li class="dropdown-item" href="#">AUTHORITY APPROVAL</li>
                        <li class="dropdown-item" href="#">INTERIOR DESIGN</li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown mx-2">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PROJECTS
                      </a>
                      <ul class="dropdown-menu bg-transparent ">
                        <li class="dropdown-item" href="#">CIVIL WORKS</li>
                        <li class="dropdown-item" href="#">ELECTRICAL WORKS</li>
                        <li class="dropdown-item" href="#">PLUMBING WORKS</li>
                        <li class="dropdown-item" href="#">MECHANICAL WORKS</li>
                        <li class="dropdown-item" href="#">BUILDING DESIGN</li>
                        <li class="dropdown-item" href="#">AUTHORITY APPROVAL</li>
                        <li class="dropdown-item" href="#">INTERIOR DESIGN</li>
                      </ul>
                    </li>
                    <li class="nav-item mx-2">
                      <a class="nav-link" href="#">CONTACT US</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        <!--nav bar ends here-->


      

    <div class="container holder mt-5 pt-5">

      <div class="container mt-5">
     <h1>GET IN TOUCH</h1>
      <form class="row g-3">
        <div class="col-md-6">
          <h6>Name <span>(required)</span></h6>
          <label for="firstname" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstname" placeholder="First Name" required>
        </div>
        <div class="col-md-6">
          <label for="firstname" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastname" placeholder="Last Name" required>
        </div>
        <div class="col-md-8">
          <label for="emailinfo" class="form-label" id="emailinfo">Email <span>(required)</span></label>
          <input type="email" class="form-control" id="emailinfo" placeholder="Email" required>
        </div>
        <div class="col-md-4">
          <label for="phone" class="form-label">Phone Number <span>(required)</span></label>
          <input type="text" class="form-control" id="phone" placeholder="+1 (415) 867-5309" required>
        </div>
        <div class="col-md-12">
          <label for="message" class="form-label">Tell us about your project <span>(required)</span></label>
          <textarea class="form-control" id="message" rows="3" placeholder="Message" required></textarea>
      </form>
    </div>

      <div class="container text-center">
        <p class="col lets-header fs-1">Let's take a moment to view Our Projects</p>
        <button class="col lets-button">Browse Our Projects</button>
      </div>
  </div>
</main>

<!--footer starts here-->

<footer class="py-3 mt-3 bg-black">
  <div class="row icons">
    <a class="col" href="https://www.facebook.com"><i class="fa bi bi-facebook"></i></a>
    <a class="col" href="https://www.instagram.com"><i class="fa bi bi-instagram"></i></a> 
    <a  class="col" href="https://www.linkedin.com"><i class="fa bi bi-linkedin"></i></a>
    <a class="col" href="https://www.twitter.com"><i class="fa bi bi-twitter"></i></a> 
  </div>
   
  <ul class="nav justify-content-center pb-2 mb-1" style="font-size:0.8em; letter-spacing:0.1em;">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer2 fw-light">7010389954</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer2 fw-light">|</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer2 fw-light">CONTACT@SOUTHHOLD.CO.IN</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer2 fw-light">|</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer2 fw-light">168 ERUKENCHERRY HIGH RD. CHENNAI - 600 069 </a></li>
  </ul>

 
  <ul class="nav justify-content-center  pb-2 mb-1" style="font-size:0.8em; letter-spacing:0.1em;">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer1 fw-light">HOME</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer1 fw-light">ABOUT</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer1 fw-light">SERVICES</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer1 fw-light">PROJECT</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer1 fw-light">CONTACT US</a></li>
  </ul>
  <p class="text-center text-white fw-lighter p-1 mb-1 footer3" style="font-size:0.6em; letter-spacing:0.1em;">© 2023 SOUTH HOLD CONSTRUCTION. All Rights Reserved.</p>
</footer>
</main>
<!--footer ends here-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>

