<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>southhold/contact</title>
</head>
<body>
  <style>
    .btn-sub {
      border: 1px solid black;
      color: black;
      transition: ease-in 0.1s;
    }
    .btn-sub:hover {
      background-color: black;
      color: white;
    }
    .nav-li {
      text-decoration: none;
      color: black;
    }
    .nav-li:hover {
      color: white;
      
    }
  </style>
    <nav class="navbar-nav navbar-expand-lg d-flex flex-row justify-content-between align-items-center main-nav bg-light"  >
        <div class="nav-div-1">
          <div class="navbar-brand text-dark"><a class="nav-link text-dark" href="../components/home-main.html">southhold</a></div>
    
        </div>
        <div class="nav-div-2 d-flex  align-items-center">
          <ul class="nav-ul d-flex flex-row m-2">
            <li class="nav-li list-unstyled nav-item p-2 ">
              <a class="nav-a navlinks  text-dark list-unstyled" href="../components/about.html">about</a>
            </li>
            <li class="nav-li list-unstyled nav-item p-2 ">
              <a class="nav-a navlinks  text-dark list-unstyled" href="../components/services.html">services</a>
            </li>
            <li class="nav-li list-unstyled nav-item p-2 ">
              <a class="nav-a navlinks  text-dark list-unstyled" href="../components/projects.html">projects</a>
            </li>
            <li class="nav-li list-unstyled nav-item p-2 ">
              <a class="nav-a navlinks  text-dark list-unstyled" href="../components/contact.html">contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="form-div d-flex flex-column">
        <h1 class="h2 ">get in touch</h1>
        <div class="col-sm-4">
            <form action="" class="form-main">
                <label for="fname-ip" class="lb-fname">first name</label><br>
                <input type="text" class="name-ip" id="fname-ip"><br>
                <label for="lname-ip" class="lb-fname">last name</label><br>
                <input type="text" class="name-ip" id="lname-ip"><br>
                <label for="email-ip " class="email-lb">email</label><br>
                <input type="text" class="email-ip"><br>
                <label for="subject-ip" class="subject-lb">subject</label><br>
                <input type="text" class="subject-ip" id="subject-ip"><br>
                <label for="blog">tell us about your project</label><br>
                <textarea placeholder="describe your needs"></textarea><br>
                <button class="btn btn-sub">submit</button>
            </form>
        </div>
        <div class="col-sm-8">

        </div>
        </div>

      <div>
        <h1 class="h3">lets take a moment to view our projects</h1>
        <button class="btn btn-sub">browse our projects</button>
      </div>
      
</body>
</html>