<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>southhold</title>

  
</head>
<body>
  <style>
    .btn-reach {
      background-color: transparent;
      border: black solid 1px;
      transition: ease-in 0.1s;

    }
    .btn-reach:hover {
      color: white;
      border: white solid 1px;
      opacity: 0.8;



    }
    /*.slogan-div {
      height: 100vh;
      position: absolute;
      top: 50px;
      left: 50px;
    } */
  </style>
  <nav class="navbar-nav navbar-expand-lg d-flex flex-row justify-content-between align-items-center main-nav bg-primary"  >
    <div class="nav-div-1">
      <div class="navbar-brand text-light">southold</div>

    </div>
    <div class="nav-div-2 d-flex  align-items-center">
      <ul class="nav-ul d-flex flex-row m-2">
        <li class="nav-li list-unstyled nav-item p-2 "><a class="nav-a navlinks  text-light list-unstyled" href="">home</a></li>
        <li class="nav-li list-unstyled nav-item p-2 "><a class="nav-a navlinks  text-light list-unstyled" href="">about</a></li>
        <li class="nav-li list-unstyled nav-item p-2 "><a class="nav-a navlinks  text-light list-unstyled" href="">services</a></li>
        <li class="nav-li list-unstyled nav-item p-2 "><a class="nav-a navlinks  text-light list-unstyled" href="">projects</a></li>
      </ul>
    </div>
  </nav>
  <div class="slogan-div d-flex align-items-center justify-content-center flex-column bg-primary " style="height: 100vh;">
    <h1 class="slogan text-light  ">your unique vision our custom construction</h1><br>
    <button class="btn btn-reach">reach us</button>
  </div>

  
</body>
</html>