<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>southhold</title>
</head>
<body>
    <!-- nav starts here -->
    <div class="nav-main-div">
        <img src="../assets/furniture-998265_1280.jpg" alt="" class="img-banner-1">
        <nav class=" nav-main navbar-nav navbar-expand-lg  align-items-center">
            <div class="div-1 d-flex justify-content-start p-2">SOUTHHOLD</div>
            <div class="div-2 d-flex justify-content-end ">
                <ul class="nav-ul p-3 d-flex justify-content-center align-items-center  gap-4">
                    <li class="nav-li  nav-item d-flex justify-content-center align-items-center"><a href="" class="nav-link">home</a></li>
                    <li class="nav-li  nav-item d-flex justify-content-center align-items-center"><a href="" class="nav-link">about us</a></li>
                    <li class="nav-li  nav-item d-flex justify-content-center align-items-center"><a href="" class="nav-link">our services</a></li>
                    <li class="nav-li  nav-item d-flex justify-content-center align-items-center"><a href="" class="nav-link">our projects</a></li>
                    
                </ul>
            </div>
        </nav>
    </div>
    <!--nav and banner ends-->
    <!-- about us starts here-->
    <!--about section not yet completed ! under developement !  dont uncomment  ! finish and push ! -->
    <!--
    <div class="about-us-main">
        <div class="about-us-text p-3">
            <h1 class=" about-h1">ABOUT US</h1>
            <p class="about-p1">Our experience enables us to take up a wide range of challenging projects, such as Commercial, Residential, Renovation, Fitout, Electromechanical, Building designs & Authority approvals</p>
        </div>
        <div class="about-us-img"></div>
    </div>
    -->
</body>
</html>