
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../assets/Main\ page\ background\ image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* footer */

footer {
  font-family: sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li {
  margin-bottom: 1rem;
}

.list-unstyled a {
  color: white;
}

.list-unstyled a:hover {
  color: #ccc;
}

.copyright {
  font-size: 12px;
  margin-top: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


