* {
  font-family:'Aboreto','Antonio','Average','Nunito','poppins',system-ui, '-apple-system', 'BlinkMacSystemFont', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section {
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}


#home {
  background-image: url('./super-structure\ -concreting\ copy.jpg');
  opacity:0.7;
  padding-top:25px;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height:105vh;
  transition:background-image 0.9s ease-in-out;

}
#about {
  background-image: url('../assets/architectural.jpg');
}

#hero3 {
  background-color:white;
  color:black;
  height:auto;

}

body {
  background-color:black;
}

*>#home{
  margin-top:-75px;
}

nav {
  margin-top:75px;
}

/* nav bar starts from here and its media queries */
.dropdown-toggle::after {
  display: none;
}




.dropdown-menu {
  background-color:transparent;
  border:none;
  cursor:pointer;
}
.dropdown-item {
  color:white;
  opacity:0.7;
}
.dropdown-item:hover{
  color:white;
  background-color:transparent;
  opacity:0.5;
}

@media (max-width: 991px){
  .sidebar{
  background-color: rgba(255,255,255,0.15);
  backdrop-filter:blur(5px);
  }
  
}


@media screen and (min-width:991px) {
  .dropdown .dropdown-menu.show {
    display:none !important;

  }
  .dropdown:hover .dropdown-menu {
    display:block !important;
    margin-left:20px;
    transition:ease-in-out 0.3s;
  }
  .dropdown:focus .dropdown-menu {
    display:block !important;

  }

  .hero {
    font-size:1.5em;
    font-weight:bold;

  }
  .known-more {
    font-size:1em;
  }
}

.offcanvas-body .nav-link:hover { 
  transition-timing-function: ease-in-out 0.15s;
}



/* nav bar ends here */


/* footer start here footer all media queries */

  
  footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0px 0px 20px;
  width: 100%;
  }
  
  footer .bi {
  font-size: 20px;
  color:white;
  margin: 0 10px;
  
  }
  
  footer a {
  text-decoration: none;
  color: white;
  transition:ease-in-out 0.3s;
  }
  
  footer a:hover {
  opacity:0.7;
  }
  
  footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .icons {
  padding-bottom:20px;
  
  }

  
  .c {
  font-size:12px;
  font-weight:lighter;
  }
  
  @media( 320px <= width <= 425px) {
    .footer1 {
     font-size:9px;
     font-weight:600;
     margin-right:0px;
     margin-left:0px;
    }
    .footer2 {
      font-size:10px;
    }
  }

  /* footer end here */
  
  /* main page start here */

  .hero {
    color:white;
    
  }
  .known-more {
    margin-top:0px;
    color:white;
    text-align: center;
    font-size:20px;
    background-color:transparent;
    opacity:0.6;
    padding:10px 10px 10px 10px;
    border:none;
    letter-spacing:0.1em;
    transition:ease-in-out 0.3s; 
  }
  .known-more:hover {
    opacity:0.9;
    backdrop-filter:blur(5px);
  }
  .known-more:active {
    opacity:0.5
  }
  
  .hero2 {
    height:500px;
  }
  .hero2 h1 {
    font-family:average, sans-serif,serif;
  }
  .hero2 p {
    font-family:poppins, sans-serif,serif;
  }
  .aboutus {
    background-color:white;
    color:black;
    padding:10px 20px 10px 20px;
    border:#000;
    border-width:2px;
    border-style:solid;
    letter-spacing: 0.1em;
    border-radius:none;
    transition:ease-in-out 0.3s;
  }
  .aboutus:hover {
    background-color:black;
    color:white;
  }

  @media( 375px <= width <= 700px ) {
     .hero { 
      font-size:1em;
      font-weight:bold;
    }
    .hero2 {
      height:700px;
    }
  }
/* main page ends here */
/* service page starts from here */
  
.offcanvas-body .nav-link { 
  font-size:1em;
  opacity:0.9;
}
.dropdown-item {
  font-size:0.7em;
  opacity:0.9;
}

a {
  text-decoration:none;
  color:white;

}
a:hover {
  text-decoration:none;
  color:white;
}





@media (375px <= width <=700px) {

}


.projects-container .row .col {
background-color:black;
height:30vh;
width:40vh;
color:white;
}

.projects-container .row {
gap:1em;
}

.hovering:hover {
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.main {
background-color:white;
}

.container .lets-header {
color:black;
}
.container .lets-button {
background-color:white;
border:1px solid black;
color:black;
font-size:1.5em;
font-weight:light;
padding:10px 20px 10px 20px;
margin:20px 0px 20px 0px;
transition:ease-in-out 0.3s;
height:auto;
width:auto;
}
.container .lets-button:hover {
background-color:black;
color:white;
}

@media (300px <= width <= 991px) {
#hero3 {
  height:auto;
}
}
