/* footer */

.footer-row {
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 0px 5px 0px;

}

footer {
background-color: #000;
color: #fff;
padding: 20px 0px 0px 0px;
width: 100%;
}

footer .bi {
font-size: 20px;
color:white;
margin: 0 10px;

}

footer a {
text-decoration: none;
color: #fff;
}

footer a:hover {
color: #ccc;
}

footer {
display: flex;
flex-direction: column;
align-items: center;
}

.footer-row {
text-align: center;
font-size: 12px; /* You can adjust the font size as needed */
column-gap: 10px;
}

.footer-links {
display: flex;
justify-content: space-around;
max-width: 200px;
margin: 0 auto; /* Center the links horizontally */
}
.footer-middle {
font-size:15px;
font-weight:lighter;
padding-top:0px;
padding-bottom:0px;

}
.icons {
padding-bottom:20px;

}
.c {
font-size:12px;
font-weight:lighter;
}
.ic {
opacity: 1;
}
.ic:hover {
opacity: 0.8;
}