section {
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}


#home {
  background-image: url('../assets/main\ page\ image\ building.jpg');
  opacity:0.7;
 
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height:112vh;

}
#about {
  background-image: url('../assets/architectural.jpg');
}



body {
  background-color: #000;
}

*>#home{
  margin-top:-25px;
}

/*nav bar starts here*/
nav div .row  a {
  color:white;
  text-decoration: none;
  font-size: 17px;
  gap:1px;
  font-weight: lighter;
  padding:10px 10px 10px 10px;
  opacity:1;
  
}
nav div .row .navhover a:hover {
  color:#ded8d8;
  opacity:0.5;
  border-radius: 5px;
  transition:ease-in-out 0.15s;
}
.navbarcontainer {
  padding:30px 20px 30px 20px;
  cursor:pointer;
  opacity:1;
}
.logo {
  image-rendering:auto;
  width:300px;
  padding:0;
  margin:0;
}
nav {
  z-index:1;
}

/*nav bar ends here*/


/* footer start here*/
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 5px 0px;
  
  }
  
  footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0px 0px 0px;
  width: 100%;
  }
  
  footer .bi {
  font-size: 20px;
  color:white;
  margin: 0 10px;
  
  }
  
  footer a {
  text-decoration: none;
  color: #fff;
  }
  
  footer a:hover {
  color: #ccc;
  }
  
  footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .footer-row {
  text-align: center;
  font-size: 12px; /* You can adjust the font size as needed */
  column-gap: 10px;
  }
  
  .footer-links {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  margin: 0 auto; /* Center the links horizontally */
  }
  .footer-middle {
  font-size:15px;
  font-weight:lighter;
  padding-top:0px;
  padding-bottom:0px;
  
  }
  .icons {
  padding-bottom:20px;
  
  }
  footer .footer-row a {
  text-decoration: none;
  }
  
  .c {
  font-size:12px;
  font-weight:lighter;
  }
  
  .footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
  }

  /* footer end here */
  
  /* main page start here */

  .masthead {
   font-size:45px;
   margin-top:350px;
   color:white;
   opacity:1;
   text-align: center;
  }

  .ul-li {
    display: none;

  }
  .ul-li:hover {

    display: block;
  }
  .btn-btn {
    color: white;
    border: 2px solid white;
  }
  .btn-btn:hover {
    font-weight: 600;
    border: 2px solid white;
    color: black;


  .known-more {
    margin-top:0px;
    color:white;
    text-align: center;
    font-size:20px;
    background-color:transparent;
    opacity:0.7;
    padding:10px 10px 10px 10px;
    border:none;
  }
  .known-more:hover {
    opacity:0.5;
  }
  .known-more:active {
    opacity:0.7;
  }