section {
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}


#home {
  background-image: url('../assets/main\ page\ image\ building.jpg');
  opacity:0.7;
  padding-top:25px;
 
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height:122vh;

}
#about {
  background-image: url('../assets/architectural.jpg');
}



body {
  background-color: #000;
}

*>#home{
  margin-top:-75px;
}

nav {
  margin-top:75px;
}

.dropdown-toggle::after {
  display: none;
}

@media (max-width: 991px){
  .sidebar{
  background-color: rgba(255,255,255,0.15);
  backdrop-filter:blur(5px);
  }
  
}

@media screen and (min-width:991px) {
  .dropdown .dropdown-menu.show {
    display:none !important;
  }
  .dropdown:hover .dropdown-menu {
    display:block !important;
  }
  .dropdown:focus .dropdown-menu {
    display:block !important;
  }
}

.dropdown-menu {
  background-color:transparent;
  border:none;
  cursor:pointer;
}
.dropdown-item {
  color:white;
  opacity:0.7;
}
.dropdown-item:hover{
  color:white;
  background-color:transparent;
  opacity:0.5;
}

/*nav bar starts here*/
/*
.container {

}
.dropdown-menu {
  background-color:transparent;
  border:none;
}
.dropdown-item {
  color:white;
  font-size:15px;
  background-color:transparent;

}

.nav-pills .nav-item .nav-link {
  color:white;
  font-size:15px;
  
}
/*nav bar ends here*/


/* footer start here*/
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 5px 0px;
  
  }
  
  footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0px 0px 0px;
  width: 100%;
  }
  
  footer .bi {
  font-size: 20px;
  color:white;
  margin: 0 10px;
  
  }
  
  footer a {
  text-decoration: none;
  color: #fff;
  }
  
  footer a:hover {
  color: #ccc;
  }
  
  footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .footer-row {
  text-align: center;
  font-size: 12px; /* You can adjust the font size as needed */
  column-gap: 10px;
  }
  
  .footer-links {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  margin: 0 auto; /* Center the links horizontally */
  }
  .footer-middle {
  font-size:15px;
  font-weight:lighter;
  padding-top:0px;
  padding-bottom:0px;
  
  }
  .icons {
  padding-bottom:20px;
  
  }
  footer .footer-row a {
  text-decoration: none;
  }
  
  .c {
  font-size:12px;
  font-weight:lighter;
  }
  
  .footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
  }

  /* footer end here */
  
  /* main page start here */

  .masthead {
   font-size:45px;
   color:white;
   margin-top:350px;
   opacity:1;
   text-align: center;
   height:100vh;
  }

  .known-more {
    margin-top:0px;
    color:white;
    text-align: center;
    font-size:20px;
    background-color:transparent;
    opacity:0.7;
    padding:10px 10px 10px 10px;
    border:none;
  }
  .known-more:hover {
    opacity:0.5;
  }
  .known-more:active {
    opacity:0.7;
  }